

{% block title %}
Техническое обслуживание (ТО)
{% endblock title %}

{% block content %}
   

   <hr>
   {% if maintenance %}
       <table>
           <tr>
               <th>Вид ТО</th>
               <th>Дата проведения ТО</th>
               <th>Наработка</th>
               <th>№ заказ-наряда</th>
               <th>Дата заказ-наряда</th>
               <th>Организация, проводившая ТО</th>
               <th>Зав. № машины</th>
               <th>Сервисная компания</th>
           </tr>
           <tr>
              <td>{{ maintenance.type_of_maintenance }}</td>
               <td>{{ maintenance.date_of_maintenance }}</td> 
               <td>{{ maintenance.development }}</td>
               <td>{{ maintenance.work_order_number }}</td>
               <td>{{ maintenance.work_order_date }}</td>
               <td>{{ maintenance.organization_maintenance }}</td>
               <td>{{ maintenance.machine }}</td>
               <td>{{ maintenance.service_company }}</td>
           </tr>
       </table>
   {% else %}
       <h2>ТО нет!</h2>
   {% endif %}
{% endblock content %}